main {
    width: 50%;
    margin: auto;
    text-align: center;
}

table {
    margin: 50px auto;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid #000;
}

.edit-btn-td {
    white-space: nowrap; 
}

.edit-btn-td > button {
    margin: 0px 5px;
    padding: 0px 5px; 
    /* abc */
}

th, td {
    padding:  5px;
    margin:  2px;
    border: 1px solid #000;
}

.hide {
    display: none;
}
